<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LJMG </title>

        <!-- Issue #3 - Overall website CSS - I had to change the .css files mame that were being directed as references -->
        
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-cerulean.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.cerulean.css">

        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/styles.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">LJMG</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Googlemap">Google Map</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="twitterfeed">Twitter App</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Appguide">App Guide</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <!-- Issue #3 - footer -->
        <footer>
            <a href="#" class="btn btn-primary btn-lg" >&copy; 2017 - LJMG</a>
        </footer>
    </div>

    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
