﻿@{
    ViewData["Title"] = "App Guide";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Hello There!</strong> <a href="#" class="alert-link">Thankyou for using our application. </a>
</div>
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default">How to use Google Map!</a>
</div>
<div class="well">
  Google Map App is very handy and easy to use.<br>
  You have two input box to get the directions from A to B.<br>
  Enter the Cities Name that you want to travel between. App also has Autocomplete to assist you with finding right Adresses.<br>
  <strong>PRESS </strong> and you will get the directions and well as detailed directions. 
</div>
<div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-default">How Twitter App Works!</a>
</div>
<div class="well">
  This App Displays Latest tweets with <strong> #TwitterStories </strong>.
</div>