<!-- Issue #4 - This Issue is for Adding Feature and I have added contact us page -->

@{
    ViewData["Title"] = "Leave us a Feedback";
}

<h2>@ViewData["Title"].</h2>

<hr>
<form class="form-horizontal">
  <fieldset>
    <legend>Your Message Here!</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Phone Number</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Would you like us to send you promotional messages.
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Textarea</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">less than 500 words.</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Select One</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            New User
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Existing User
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Select</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>Male</option>
          <option>Female</option>
          <option>Other</option>
          <option>Choose not to say</option>
          </select>
        <br>
        
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>