@{
    ViewData["Title"] = "Google Map";
}
<h2>@ViewData["Title"].</h2>

<h2> LJMG Google Map </h2>

            <!-- Issue #1 -->
            <input type="text" id="startvalue" placeholder="Enter Source...." style="min-width: 250px" />
            <br />  
            <input type="text" id="endvalue" placeholder="Enter Destination...." style="min-width: 250px" />
            <br />  
            <input type="button" value="Get Directions" onclick="return btnDirections_onclick()" class="button button4" />   
            <hr />  

            <div id="calcDistance" style="font-size:x-large; background-color: lightgreen; font-family: Arial Black;  color: Blue; text-align: center">  

            
            </div> 
            <hr />    
            <div id="Gmap" style="height: 390px; width: 489px" >  
             </div>
            
            <!-- Issue #3 - Directions -->
            <div id="directionpanel" style="background-color:lightblue ">  
            </div> 
                                              
            <hr /> 



        <!-- Javascript for google map -->
        <!-- ......................... -->

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFp7-O0VhpxTAHw4J_gXpwoiYzWhDAnrA&libraries=places"> </script>
        <script language="javascript" type="text/javascript">
            var directionsDisplay;
            var directionsService = new google.maps.DirectionsService();

            function InitializeMap() {
                directionsDisplay = new google.maps.DirectionsRenderer();
                var latlng = new google.maps.LatLng(-37.6878, 176.1651);
                var myOptions =
                    {
                        zoom: 13,
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                 var map = new google.maps.Map(document.getElementById("Gmap"), myOptions);

                    var input = document.getElementById('startvalue');
                    var autocomplete = new google.maps.places.Autocomplete(input);
                    var input2 = document.getElementById('endvalue');
                    var autocomplete2 = new google.maps.places.Autocomplete(input2);

                directionsDisplay.setMap(map);
                directionsDisplay.setPanel(document.getElementById('directionpanel'));

                var control = document.getElementById('control');
                control.style.display = 'block';


            }
            google.maps.event.addDomListener(window, 'load', InitializeMap);



            function calcRoute() {

                var start = document.getElementById('startvalue').value;
                var end = document.getElementById('endvalue').value;
                var request = {
                    origin: start,
                    destination: end,
                    travelMode: google.maps.DirectionsTravelMode.DRIVING
                };
                directionsService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                    }
                });

                var service = new google.maps.DistanceMatrixService();  
                service.getDistanceMatrix({  
                    origins: [start],  
                    destinations: [end],  
                    travelMode: google.maps.TravelMode.DRIVING,  
                    unitSystem: google.maps.UnitSystem.METRIC,  
                    avoidHighways: false,  
                    avoidTolls: false  
                }, function (response, status) {  
                    if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {  
                        var distance = response.rows[0].elements[0].distance.text;  
                        var duration = response.rows[0].elements[0].duration.text;  
                        var calcDistance = document.getElementById("calcDistance");  
                        calcDistance.innerHTML = "";  
                        calcDistance.innerHTML += "Distance Is: " + distance + "<br />";  
                        calcDistance.innerHTML += "Duration Is:" + duration;  
                          
                    } else {  
                        alert("Your Request For Distance Not Available");  
                    }  
                });

            }
            function btnDirections_onclick() {
                calcRoute();
            }

            window.onload = InitializeMap;
            
            </script>

                

                
        
            


            
            


        


