﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
</div>

        <!-- Issue #1 -->
        <br><br><br><br><br><br>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <a href="Home/Googlemap">
                <img src="~/images/google_maps.jpg" alt="Google" style="width:304px;height:175px;" href="googlemap.cshtml"></a>
            </div>
            <div class="col-md-3">
                <a href="Home/twitterfeed">
                <img src="~/images/Twitter_image.jpg" alt="Twitter" style="width:304px;height:175px;"></a>
            </div>
            <div class="col-md-3">
            </div>
        </div>

        <br><br><br>

        
        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <!-- liam dead link-->
            <strong>Welcome to LJMG !</strong> Which stands for <a href="Home/Appguide" class="alert-link">Liam - Jason - Michael - Guri</a>.
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading"> 
                <h3 class="panel-title">ABOUT US</h3>
            </div>
            <div class="panel-body">
                This entire APP has been built by Toi-Ohomai Institute of Technology's students as part of their assignment.<br>
                We hope you find this Awesome App very useful.
            </div>
        </div>





            <br><br><br><br><br><br>