@{
    ViewData["Title"] = "Twitter feed";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>



<a class="twitter-timeline" href="https://twitter.com/hashtag/TwitterStories" data-widget-id="910279516320182272">#TwitterStories Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>