﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
#Gmap {
    height: 400px;
    width: 600px;
    display: block;
    background-color: powderblue;
    margin-left: 250px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    .nav {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    #Gmap{
        width: 100%; 
    }
}


.selectBox{width:295px;height:38px;padding: 0 0 0 9px;}  
select option{width:255px;}
